* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.grid__group {
  display: grid;
  grid-template-columns: auto 900px;
}

.letf {
  border: 1px solid red;
  height: 100vh;
}
img {
  height: 100vh;
  /* width: 900px; */
  object-fit: cover;
}

.right {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: translateY(0vh);
  transition: all 1.5s;
  /* overflow: hidden; */
}

/* .img-1 {
  transform: rotateY(-100vh);
} */

/* button */
.btn__group {
  position: absolute;
  top: 260px;
  left: 452px;
}
.btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  z-index: 1;
}
.btn--pastga {
  position: absolute;
  top: 60px;
  right: 30px;
}

.btn--tepaga {
  position: absolute;
}

/* left flex */
.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1 {
  background-color: rgb(255, 230, 230);
}
.box-2 {
  background-color: rgb(189, 185, 185);
}
.box-3 {
  background-color: rgb(255, 146, 146);
}
.box-4 {
  background-color: rgb(115, 215, 255);
}

.left {
  transform: translateY(-300vh);
  transition: all 1.5s;
}
